Pillow
Werkzeug
django-debug-toolbar
django-extensions
django-model-utils
django-nose
django-redis-cache
gunicorn
hiredis
ipdb
ipython
nose
psycopg2
pytz
redis
requests
selenium
-e git+git@github.com:mariocesar/sorl-thumbnail.git@33763bfc0514f7724c9e9fc1eb8c909fd8aa131c#egg=sorl_thumbnail
