/** CC-Icons **/

.card-number {
    background-position-x: 96%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.paymill-card-number-visa {
    background-image: url('../images/32x20_visa.png');
}
.paymill-card-number-mastercard {
    background-image: url('../images/32x20_mastercard.png');
}
.paymill-card-number-amex {
    background-image: url('../images/32x20_amex.png');
}
.paymill-card-number-jcb {
    background-image: url('../images/32x20_jcb.png');
}
.paymill-card-number-maestro {
    background-image: url('../images/32x20_maestro.png');
}
.paymill-card-number-carte-bleue {
    background-image: url('../images/32x20_carte-bleue.png');
}
.paymill-card-number-diners-club {
    background-image: url('../images/32x20_dinersclub.png');
}
.paymill-card-number-china-unionpay {
    background-image: url('../images/32x20_unionpay.png');
}
.paymill-card-number-discover {
    background-image: url('../images/32x20_discover.png');
}
.paymill-card-number-carta-si {
    background-image: url('../images/32x20_carta-si.png');
}
.paymill-card-number-dankort {
    background-image: url('../images/32x20_dankort.png');
}
.paymill-card-number-grayscale
{
    filter: url("data:images/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    background-color: #AAA;
}