<h3>Payment information</h3>
<p>If you have a Norwegian bank account, you can pay by bank transfer. Other particpants can book their tickets now, and we'll contact you with further payment instructions.</p>

<h3>Terms and conditions</h3>
<p>Tickets purchased are non-refundable, execpt for a situation where {{ convention }} is cancelled. In that case all tickets will be refunded in full. Tickets are personal and non-transferable.</p>

<h3>Privacy policy </h3>
<p>The information submitted when buying a ticket will not be shared with 3rd parties, but can be used for the promotion of future Grenselandet events and other events organized by Fantasiforbundet.</p>