<table class="details-table small-12 columns">
  {% for payment in ticket.payment_set.all %}
    <tr>
      <th scope="row">Sum paid</th>
      <td>{{ payment.sum_paid }} {{ payment.currency }}</td>
    </tr>
    <tr>
      <th scope="row">Time of payment</th>
      <td>{{ payment.payment_time }}</td>
    </tr>
    <tr>
      <th scope="row">Payment method</th>
      <td>{{ payment.paid_via }}</td>
    </tr>
  {% empty %}
    <tr>
      <th scope="row">Sum paid</th>
      <td>0</td>
    </tr>
  {% endfor %}
</table>