<p>To read about our terms and policies, click on the topics below.</p>
<dl class="trekkspill" data-accordion>
  <dd class="navigation">
    <a href="#payment-information">Payment information</a>
    <div id="payment-information" class="content">
      <p>We accept all major credit cards through our payment provider <a href="https://www.paymill.com/">PayMill</a></p>
      <p>Your credit card information is transmitted securely to PayMill, and will not be stored or accessed by Grenselandet.</p>
      <p>The transaction will be labelled FANTASIFORBUNDET on you credit card statement.</p>
      <p>Your ticket is valid as soon as your payment has been confirmed.</p>
    </div>
  </dd>
  <dd class="navigation">
    <a href="#terms-and-conditions">Terms and conditions</a>
    <div id="terms-and-conditions" class="content">
      <p>If for any reason {{ convention }} is cancelled, all purchased tickets will be refunded in full.</p>
      <p>In other cases tickets purchased are non-refundable and non-transferable.</p>
    </div>
  </dd>
  <dd class="navigation">
    <a href="#privacy-policy">Privacy policy</a>
    <div id="privacy-policy" class="content">
      <p>Credit card data submitted when buying a ticket is encrypted and sent directly to our payment provider PayMill through a secure connection.</p>
      <p>The personal information submitted to us will not be hared with third parties, but can be used for the promotion of future Grenselandet events and other events organized by Fantasiforbundet.</p>
    </div>
  </dd>
</dl>