<table class="details-table small-12 columns">
  <tr>
    <th scope="row">Price</th>
    <td>{{ ticket.ticket_type.get_price_display }}</td>
  </tr>
  <tr>
    <th scope="row">Ticket Type</th>
    <td>{{ ticket.ticket_type.name }}</td>
  </tr>
  <tr>
    <th scope="row">Event</th>
    <td>{{ ticket.convention }}</td>
  </tr>
  <tr>
    <th scope="row">Ticket Holder</th>
    <td>{{ ticket.get_full_name }}</td>
  </tr>
  <tr>
    <th scope="row">E-mail</th>
    <td>{{ ticket.email }}</td>
  </tr>
  <tr>
    <th scope="row">Address</th>
    <td>{{ ticket.get_address_display }}</td>
  </tr>
</table>