{% extends "base_template.html" %}
{% block title %}Buy your ticket now{% endblock title %}
{% block content %}
<h1>Festival pass</h1>
<p>Price: 15 EUR (50 LTL) for Lithuanians, 30 EUR for other nationalities.</p>
<ul>
  <li>Gives access to all festival game slots</li>
  <li>Priority to at least one head liner game by online registration</li>
  <li>Includes after party on Saturday at Kablys with concerts and bar</li>
</ul>
<p>The festival pass can be bought online here or in the reception at Kablys (the main venue) from 09:00 both days.</p>
<a class = 'buybutton' href = "{% url 'ticket-create' %}">Buy your festival pass now!</a>
<h2>Single ticket</h2>
<p>Price: 5 EUR (15 LTL) for Lithuanians, 10 EUR for other nationalities.</p>
<p>Single tickets gives access to one game slot and the Saturday after party, and can be bought in the reception at Kablys from 09:00 both days. The single ticket can be upgraded to a festival pass at the venue. Single tickets can not be bought online.</p>
<p>Difficulties with paypal? If Paypal is not accepting transactions from your country, send us an e-mail including your travel confirmation (flight receipt or other), and you can instead pay by cash at the venue.</p>
{% endblock %}
