{% extends "base-template.html" %}
{% block title %}Preregistration is closed{% endblock title %}
{% block content %}
<h1>Tickets and preregistration for games has closed</h1>
<p>It's still possible to join the games. Each day, one hour before the first game for the day starts all available spots will be opened on a first come, first serve basis. 11:00 on Friday, and 9:00 on Saturday.</p>
<p>If you preregistered for games you will recieve a list of what games you have gotten a spot in by email at 22:00 Thursday evening.</p>
<p>We're looking forward to seeing you at the festival!</p>
{% endblock %}
