{% extends "base_template.html" %}

{% block content %}
    <h2>Welcome to metamorfozes signup</h2>
	{% if sold_out %}
		<p>All tickets for Metamorfozes are sold out at the moment. If any more tickets are made available we will announce it on our facebook page</p>
        <p>If you have paid your ticket, you may <a href = {% url 'login' %}>sign in</a> to view your receipt.</p>
	{% else %}
		<p>The signup for Metamorfozes is open. To book your ticket, please proceed to our <a href = {% url 'ticket-create'%}>registration page</a>.
        <p>If you have already registered, you can <a href = {% url 'login' %}>log in</a> to view your ticket</p>

	{% endif %}
{% endblock %}
