{# Ticket registration form. #}
{% extends "base-template.html" %}
{% block title %}Register for {{ convention }}{% endblock %}
{% block content %}
<div class="small-12 columns">
  <h1>Order {{ ticket_type.name }} {{ convention }}</h1>
</div>
<div class="small-12 medium-6 columns">
  <p>price: {{ ticket_type.get_price_display }} </p>
</div>
<div class="small-12 medium-6 columns">
  <ul>
    <li>A ticket to Grenselandet entitles you to access the festival areas, including access to the party.</li>
    <li>As a ticket-holder you are entitled to sign up for the larps when this signup opens in early october.</li>
    <li>Please note that this year the Grenselandet ticket does not include food or accommodation.</li>
  </ul>
</div>
<hr>
<div class="small-12 medium-6 columns">
    <h3>Ticket holder</h3>
      <form  action="" method="post">{% csrf_token %}
      <table class="profile_form small-12 columns">
      {% for field in form %}
          <tr{% if field.errors %} class="error_row" {% endif %}>
          <td>{{ field.label_tag }}</td>
          <td>{{ field }}</td>
          <td>{{ field.help_text }} {{ field.errors }}</td>
          </tr>
      {% endfor %}
      </table>
      <input type="submit" value="Continue" class="button small-12 columns">
      </form>
    </div>
<div class="small-12 medium-6 columns">

  <h3>Payment information</h3>
  <p>For Norwegian particiants we accept bank transfer to account number ...... Non-Norwegians can use IBAN: NO0417202585248 SWIFT: BIENNOK1 </p>
  <p>If are also in the process of a new card payment solution. </p>

  <h3>Terms and conditions</h3>
  <p>Tickets purchased are non-refundable, execpt for a situation where {{ convention }} is cancelled. In that case all tickets will be refunded in full. Tickets are personal and non-transferable.</p>

  <h3>Privacy policy </h3>
  <p>The information submitted when buying a ticket will not be shared with 3rd parties, but can be used for the promotion of future Grenselandet events and other events organized by Fantasiforbundet.</p>

</div>
{% endblock content%}