{# Ticket registration form. #}
{% extends "base-template.html" %}
{% block title %}Register for {{ convention }}{% endblock %}
{% block content %}
<div class="small-12 columns">
  <h1>Order {{ ticket_type.name }} {{ convention }}</h1>
</div>
<div class="small-12 medium-6 columns">
  <p>price: {{ ticket_type.get_price_display }} </p>
</div>
<div class="small-12 medium-6 columns">
  <ul>
    <li>A ticket to Grenselandet entitles you to access the festival areas, including access to the party.</li>
    <li>As a ticket-holder you are entitled to sign up for the larps when this signup opens in early october.</li>
    <li>Please note that this year the Grenselandet ticket does not include food or accommodation.</li>
  </ul>
</div>
<hr>
<div class="small-12 columns">
  <form id="registration-form" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="small-12 medium-6 columns">
        <h3>Ticket holder</h3>
        {% include '_ticket-form.html' %}
      </div>
      <div class="small-12 medium-6 columns">
        {% include '_payment-info.html' %}
      </div>
    </div>
    <input type="submit" value="Continue" class="button expand">
  </form>
</div>
{% endblock content%}