{% extends "base-ticket.html" %}
{% block title %}Book a ticket for {{ convention }}{% endblock %}

{% block info %}
  <h1>Book your ticket</h1>
  <p>Please enter the required information about yourself before proceeding to the checkout page.</p>
{% endblock info %}

{% block form %}
  <h3><i class="fi-torso icon"></i> Ticket holder</h3>
  <form id="registration-form" method="post">
    {% include '_ticket-form.html' %}
    {% csrf_token %}
    <input type="submit" value="Proceed to checkout" class="radius button expand">
  </form>
{% endblock form %}