{% extends "base-ticket.html" %}

{% block title %}{{ ticket.convention }} ticket for {{ ticket.get_full_name}} {{ convention }}{% endblock %}

{% block info %}
<h1>Your ticket reservation</h1>
<p>Please enter your credit card information to complete the ticket purchase.</p>
{% endblock info %}

{% block form %}
  {% if paymill_live %}
    <h3><i class="fi-credit-card icon"></i> Credit Card Details</h3>
    {% include '_paymill-form.html' %}
  {% else %}
    <h3><i class="fi-credit-card icon"></i> Payment information</h3>
    <p>Thank you for booking your ticket.</p>
    {% include '_paymill_not_activated.html' %}
  {% endif %}
{% endblock form %}
