{# Ticket registration form. #}
{% extends "base-template.html" %}
{% block title %}{{ ticket.convention }} ticket for {{ ticket.get_full_name}} {{ convention }}{% endblock %}
{% block content %}
<div class="small-12 columns">
  <h1>Your ticket reservation</h1>
</div>
<div class="small-12 columns">
  <p>Your ticket reservation has been registered</p>
  <p>Our card payment system is not quite ready yet. We'll send you an email with further instructions as soon as possible</p>
  <p>We also accept ticket payments by bank transfer. Our Norwegian bank account number is: xxx.xxx.xxx.xxx.</p>
  <p> For international transfers use account number IBAN NO0417202585248</p>

</div>
<hr>
<div class="small-12 medium-6 columns">
    <h3>Ticket information</h3>
      <table class="profile_form small-12 columns">
      {% for key, value in ticket_data %}
          <tr>
          <td>{{ key }}:</td>
          <td>{{ value }}</td>
          </tr>
      {% endfor %}
      </table>
    </div>
<div class="small-12 medium-6 columns">
  <h3>About the ticket</h3>
  <ul>
    <li>A ticket to Grenselandet entitles you to access the festival areas, including access to the party.</li>
    <li>As a ticket-holder you are entitled to sign up for the larps when this signup opens in early october.</li>
    <li>Please note that this year the Grenselandet ticket does not include food or accommodation.</li>
  </ul>

</div>
{% endblock content%}