<h2>Sign up for the Program</h2>
<p>Please choose which larps you want to attend by giving them 1-4 hearts. Giving a larp zero hearts means you would prefer to have a break and not play in this section over playing that larp.</p>
<p>Spots are not allocated on a first come, first served basis. Instead, the number of hearts will be used to generate a list of how you prioritize the larps relatively to each other. The system will allocate the spots based on the priorities in order to give everyone something they want to play.</p>
<p>You can sign up for as many larps as you want. Thursday, we will distribute the spots in all the games. You will receive an email with with games you have been assigned to.</p>
<p>We will make sure no-one is assigned to play more than one game at a time, and that you will not be assigned to two sessions of the same game.</p>
<p>You can change the distribution of your hearts until the deadline, {{ convention.program_signup_closes }}.</p>
<p class='strong'>Regardless of larp venue, meet up for all larps at Slurpen 30 mins before start</p>

<h2>Game masters and game hosts</h2>
<p>If you are assigned as a game master or game host in a game, you will not be assigned as a player in any game that happens at that time. Feel free to put priorities in those games anyway, in case there are any program changes.</p>

<h2>Meals</h2>
<p>There will be meals served at Slurpen for the price of NOK 50. Please sign up for the meals you want to take part in. The food will be vegan, lactose-free, gluten-free. There are also several restaurants and fast food joints nearby Grenselandet if you want to eat something else</p>