{% extends "program-admin.html" %}

{% block title %}Fordeling av spill{% endblock %}

{% block content %}
<table class="overview">
	<caption>List of participants and assigned games</caption>
	<tr>
		<th>Name</th>
		<th>#1</th>
		<th>#2</th>
		<th>#3</th>
	</tr>
	{% for participant in participants %}
	<tr>
		<td class="name">{{ participant.get_full_name }}</td>
		{% for game in participant.assigned_games %}
			<td>{% if game.status = game.GAME_MASTER %}GM{% endif %} {{ game.session }}</td>
		{% endfor game %}
	</tr>
	{% endfor %}
</table>
{% endblock content %}
