{% extends "program-template.html" %}
{% load dajaxice_templatetags %}
{% load staticfiles %}
{% load sekizai_tags %}

{% block title %}Program Schedule{% endblock title %}

{% block content %}
{% addtoblock 'extrajs' %}
{% dajaxice_js_import %}
<script src="{{ STATIC_URL }}js/ratings.js"></script>
<script type="text/javascript">
    {% if registration_closed %}
    var registration_closed = true;
    {% else %}
    var registration_closed = false;
    {% endif %}
</script>
{% endaddtoblock %}
{% if participant %}
    <h1>Program preferences for {{ participant }}</h1>
    {% if not registration_closed %}
    <p>Please tell us what you would most like to play at Grenselandet 2014. This page might not work equally well in all web browsers. If you are having trouble, please try using Chrome.</p>
    <p>The signup closes at {{ convention.program_signup_closes }}</p>
    {% else %}
    <p>Signup for the program is closed.</p>
    {% endif %}

{% else %}
    <h1>Program Schedule</h1>
    <p>If you have a ticket for Grenselandet, we have sent instructions on how to sign up for programitems.</p>
{% endif %}
{% for day in schedule %}
<table class="schedule">
    <caption>
        {{ day.day| date:"l F dS"}}
    </caption>
    <tr>
        <td class="time">
            time / place
        </td>
        {% for room in day.rooms %}
        <td class="location">
            {{room.name}}
        </td>
        {% endfor room %}
    </tr>
    {% for hour in day.timetable %}
    <tr style="height: {{ PIXELS_PER_BLOCK }}px;">
        {% for cell in hour %}
        {% if forloop.first %}
        <td class="time" >
            {{cell.0| date:"H:i"}}
        </td>
        {% else %}
        <td class="timeslot">
            {% if cell %}
            <div class = "wrapper_fix">
            <div data-tooltip aria-haspopup="true" class="has-tip program_item {{ cell.session.programitem.item_type.css_class }}" style="height: {{ cell.height }}px;"
            title="
            <h3>{{ cell.session.programitem.name }}</h3>
            {% if cell.gamemasters %}
              <p>Gamemasters:{% for gm in cell.gamemasters %} {{ gm.participant.get_full_name }}, {% endfor %}</p>
            {% endif %}
            {{ cell.session.programitem.description|linebreaks }}"
            >

                <div class="rating">
                    {% if cell.signup.status = GAME_MASTER %}
                        <span class="data">99</span>
                        <div class="starcontainer">
                            <div class="jquery-ratings-organiser"
                            title="You are a game master"><strong> GM</strong></div>
                        </div>

                    {% else %}
                        <span class="data">
                            {{ cell.signup.priority }}
                            {{ cell.signup.pk }}
                            {{ cell.stars }}
                        </span>
                        <div class="starcontainer"></div>
                    {% endif %}
                </div>
                <div class="description">
                    <noscript>You must enable javascript to sign up to </noscript>
                    {{cell.session.programitem.name}}</div>

                {% if perms.program.change_programitem %}
                    {% with cell.session.players as players %}
                        <div data-tooltip aria-haspopup="true" class="has-tip players" title="
                        <h3>Players: {{ players.count }} of {{ cell.session.max_participants }}</h3>
                        <p>
                        {% for player in players %}
                        {{ player.ordering }} {{ player.participant }} {{ player.priority }}</br>
                        {% endfor %}</p>">
                            {{ players.count }}
                        </div>
                    {% endwith %}
                    <div class="edit_program" title="edit item">
                        <a href="{% url "admin:program_programitem_change" cell.session.programitem.id %}">&#xf194;</a>
                    </div>
                {% endif %}

            </div>
            </div>
            {% endif %}
        </td>
        {% endif %}
        {% endfor cell %}
    </tr>
    {% endfor hour %}
</table>
<hr>
{% endfor day %}
{% if participant %}
{% include '_program_info.html' %}
{% endif %}
{% endblock content %}

