{% extends "program-template.html" %}
{% load dajaxice_templatetags %}
{% load staticfiles %}
{% load sekizai_tags %}

{% block title %}Program Schedule{% endblock title %}

{% block content %}
{% addtoblock 'extrajs' %}
{% dajaxice_js_import %}
<script src="{{ STATIC_URL }}js/ratings.js"></script>
{% endaddtoblock %}
{% if participant %}
    <h1>Program preferences for {{ participant }}</h1>
    <p>Please tell us what you would most like to play at Grenselandet 2014.</p>
    <p>The signup closes at {{ convention.program_signup_closes }}</p>
{% else %}
    <h1>Program Schedule</h1>
    <p>If you have a ticket for Grenselandet, we have sent instructions on how to sign up for programitems.</p>
{% endif %}
{% for day in schedule %}
<table class="schedule">
    <caption>
        {{ day.day| date:"l F dS"}}
    </caption>
    <tr>
        <td class="time">
            time / place
        </td>
        {% for room in day.rooms %}
        <td class="location">
            {{room.name}}
        </td>
        {% endfor room %}
    </tr>
    {% for hour in day.timetable %}
    <tr>
        {% for cell in hour %}
        {% if forloop.first %}
        <td class="time">
            {{cell.0| date:"H:i"}}&ndash;{{cell.1| date:"H:i"}}
        </td>
        {% else %}
        <td class="timeslot">
            {% if cell %}
            <div class = "wrapper_fix">
            <div data-tooltip aria-haspopup="true" class="has-tip program_item {{ cell.session.programitem.item_type.css_class }}" style="height:{{ cell.session.pixelheight }}px"
            title="
            <h3>{{ cell.session.programitem.name }}</h3>
            {% if cell.gamemasters %}
              <p>Gamemasters:{% for gm in cell.gamemasters %} {{ gm.participant.get_full_name }}, {% endfor %}</p>
            {% endif %}
            {{ cell.session.programitem.description|linebreaks }}"
            >

                <div class="rating">
                    {% if cell.signup.status = GAME_MASTER %}
                        <span class="data">99</span>
                        <div class="starcontainer">
                            <div class="jquery-ratings-organiser"
                            title="You are a game master"> GM</div>
                        </div>
                    {% else %}
                        <span class="data">
                            {{ cell.signup.priority }}
                            {{ cell.signup.pk }}
                        </span>
                        <div class="starcontainer"></div>
                    {% endif %}
                </div>
                <div class="description">
                    {% if user.is_authenticated %}
                    <noscript>You must enable javascript to sign up to </noscript>
                    {% endif  %}
                    {{cell.session.programitem.name}}</div>
                <div class="gamemasters">
                </div>
                {% if perms.program.change_programitem %}
                <div class="edit_program" title="edit item">
                    <a href="{% url "admin:program_programitem_change" cell.session.programitem.id %}">&#xf194;</a>
                </div>
                {% endif %}

            </div>

            </div>
            {% endif %}
        </td>
        {% endif %}
        {% endfor cell %}
    </tr>
    {% endfor hour %}
</table>
<hr>
{% endfor day %}
{% if participant %}
{% include '_program_info.html' %}
{% endif %}
{% endblock content %}

