{% load sekizai_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="no">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}myapp.{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  {% addtoblock "css" %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/style.css' %}" />
  {% endaddtoblock %}
  {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
  {% addtoblock "js-head" %}
  <script src="{% static 'js/vendor/modernizr.js' %}"></script>
  {% endaddtoblock %}
  {% render_block "js-head" %}
</head>

<body>
  {% block navigation %}
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li id="logo">
          <h1><span id="name"><a href="/">Grenselandet 2014</a></span>
          <span id="description">International Chamber Larp Festival<br>
            Oslo, October 17th and 18th, 2014
          </span></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="active"><a href="#">tickets</a></li>
          <li><a href="http://www.grenselandet.net/">news</a></li>
          <li><a href="http://www.grenselandet.net/p/the-larps-2014.html">larps</a></li>
          <li><a href="http://www.grenselandet.net/p/practical-information.html">practical information</a></li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
        </ul>
      </section>
    </nav>
  {% endblock navigation %}
  <main>
    <div class="row">
    {% block content %}

    {% endblock content %}
    </div>
  </main>
  {% block footer %}
  <footer id="page-footer" >
    <div class="row">
      <div class="small-12 medium-4 columns">
        <h3>Grenselandet 2014</h3>
        <ul>
          <li>Oslo International Chamber larp festival</li>
          <li>dates: October 17th and 18th 2014</li>
          <li>place: <a href="https://www.google.com/maps/place/Riksscenen/@59.9153185,10.7526835,15z/data=!4m5!1m2!2m1!1sriksscenen+oslo!3m1!1s0x46416e676ed41215:0x2ed16e71e86956ee">Riksscenen, Schouskvartalet, Oslo</a></li>
        </ul>
      </div>
      <div class="small-12 medium-4 columns">
        <h3>Contact us</h3>
        <ul>
          <li>facebook event: <a href="https://www.facebook.com/events/1464332580448122/">Grenselandet 2014</a></li>
          <li>email: admin@grenselandet.net</li>
        </ul>
      </div>
      <div class="small-12 medium-4 columns">
        <h3>Our organisation</h3>
        <ul>
          <li>Fantasiforbundet</li>
          <li>Organisation number: <a href="http://w2.brreg.no/enhet/sok/detalj.jsp?orgnr=994704346">994 704 346</a></li>
          <li>IBAN bank account: NO0417202585248</li>
        </ul>
      </div>
    </div>
  </footer>
  {% endblock footer %}
  {% addtoblock "js" %}
  <script src="{% static 'js/vendor/jquery.js' %}"></script>
  <script src="{% static 'js/foundation/foundation.js' %}"></script>
  <script src="{% static 'js/foundation/foundation.topbar.js' %}"></script>
  <script src="{% static 'js/vendor/select2/select2.min.js' %}"></script>
  {% include 'autocomplete_light/static.html' %}
  <script>
  $(document).foundation();
  $(document).ready(function() { $(".select2").select2(); });
  </script>
  {% endaddtoblock %}
  {% render_block 'js' postprocessor 'compressor.contrib.sekizai.compress' %}

</body>

</html>
